main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#answer{
    background-color: lightgray;
}


.navbar {
    background-color: #333;
    padding: 10px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.navbar-link:hover {
    color: #ffdd57;
}
