html {
    background-color: #282a36;
    color: #f8f8f2;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 1em;
}

a { 
    color: #bd93f9;
    text-decoration: none;
}

#decks {
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-weight: bold;
}

.deck div {
    gap: 2px;
}

.deck a:hover {
    color: #d0aeff;
}

#question, #answer{
    background-color: #1e1f28;
    color: #f8f8f2;
    outline: none;
    border: 2px solid #16171d;
    
}


.navbar {
    background: #1e1f28;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.navbar-link:hover {
    color: #d0aeff;
}
