<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
     <script src="../static/htmx.min.js"></script>
</head>
<body>
    <h1>{{.Heading}}</h1>
    <p>{{.Message}}</p>
    <form action="/create-deck" method="post" hx-post="/create-deck" hx-target="#result" hx-swap="outerHTML">
        <input type="text" name="deckname" id="deckname">
        <button type="submit">Submit</button>
    </form>
    <div id="result"></div>
</body>
</html>
