<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
     <script src="../static/htmx.min.js"></script>
     <script src="../static/alpine.min.js" defer></script>
     <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>{{.Deck.Name}}</h1>

    <a href="/learning/{{.Deck.ID}}">Learn</a>
    <a href="/review/{{.Deck.ID}}">Review</a>

<!-- HTMX/HTML -->
    <div x-data="{ cards: {{ .Cards }} }">
        
    <template x-for="card in cards">
        <div>
            <p x-text="card.Question"></p>
            <p x-text="card.Answer"></p>
        </div>
    </template>
</div>


    
</body>
</html>
