<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
     <script src="../static/htmx.min.js"></script>
     <script src="../static/alpine.min.js" defer></script>
     <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>{{.Deck.Deckname}}</h1>

<!-- HTMX/HTML -->
    <div x-data="{ cards: {{ .Cards }} }">
        
    <template x-for="card in cards">
        <div>
            <p x-text="card.question"></p>
            <p x-text="card.answer"></p>
        </div>
    </template>
</div>

    
</body>
</html>
