<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
     <script src="../static/htmx.min.js"></script>
     <script src="../static/alpine.min.js" defer></script>
     <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    {{template "navbar.html"}}
    <main>
    <h1>{{.Deck.Name}}</h1>

    <a href="/learning/{{.Deck.ID}}">Learn</a>
    <a href="/review/{{.Deck.ID}}">Review</a>


    <div class="card-table">
    {{range .Cards}}

    <div class="card-table-element" id="{{.ID}}">
            <div>{{.Question}}</div>
            <div>{{.Answer}}</div>
            <div>{{.ReviewDueDate}}</div>
            <div>{{.Stage}}</div>
    </div>
{{end}}
</div>
</main>
    
</body>
</html>
