<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
     <script src="../static/htmx.min.js"></script>
     <script src="../static/alpine.min.js" defer></script>
     <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    {{template "navbar.html"}}
    <main>
    <h1>Learning session for {{.Deck.Name}}</h1>
<div id="content">
{{if .CardAvailable}}
    <h3>Choose a learning mode</h3>
    <button hx-get="/learning-typing/{{.Deck.ID}}" hx-target="#content" hx-swap="outerHTML">Typing</button>
    <button hx-get="/learning-multiple-choice/{{.Deck.ID}}" hx-target="#content" hx-swap="outerHTML">Multiple Choice</button>
    {{end}}

{{if not .CardAvailable}}
<div id="content">
    <p>No learning cards available. Create some!</p>
</div>
{{end}}
</div>
</main>
</body>
</html>
