<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
     <script src="../static/htmx.min.js"></script>
     <script src="../static/alpine.min.js" defer></script>
     <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    

    <h1>Learning session for {{.Deck.Name}}</h1>
    <h2>Testing list of Cards:</h2>
    <label for="mode">Input mode</label>
    <button name="mode">Typing</button>
    {{if .CardAvailable}}
    <div id="content" x-data="{{.Cards}}">
        <h1>Question: {{.Card.Question}}</h1>
        <form action="/learning" method="post" hx-post="/learning-answer" hx-target="#content" hx-swap="outerHTML">
        <input type="hidden" name="card-id" value="{{.Card.ID}}">
        <label for="answer">Answer</label>
        <input type="text" name="answer" id="answer" autocomplete="off">
        </form>
    </div>
    {{end}}
    {{if not .CardAvailable}}
    <div id="content">
        <p>No learning cards available. Create some!</p>
    </div>
{{end}}




</body>
</html>
