<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
     <script src="../static/htmx.min.js"></script>
     <script src="../static/alpine.min.js" defer></script>
     <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <h1>Review session for {{.Deck.Name}}</h1>
<div id="content">
{{if .CardAvailable}}
    <h3>Choose a review mode</h3>
    <button hx-get="/review-typing/{{.Deck.ID}}" hx-target="#content" hx-swap="outerHTML">Typing</button>
    <button hx-get="/review-multiple-choice/{{.Deck.ID}}" hx-target="#content" hx-swap="outerHTML">Multiple Choice</button>
    {{end}}

{{if not .CardAvailable}}
<div id="content">
    <p>No review cards available. Do some learning cards!</p>
</div>
{{end}}
</div>

</body>
</html>
